stages:
  - build

build:docker_image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
  - mkdir -p /root/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /root/.docker/config.json
  - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_REGISTRY/$(echo $CI_PROJECT_PATH | tr 'A-Z' 'a-z'):$CI_COMMIT_REF_NAME
  tags:
  - docker
  - gce
  when: manual

build:documents:
  stage: build
  image: $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_REF_NAME
  script:
  - apt-get install -y git
  - git config core.quotePath false # Witout this line "untracked: true" will find no artifacts!
  - ls -1 | egrep "^.{4}\.[0-9]{6}\.[0-9]{3}\ \([А-Яа-я ]+\)$" | xargs -n1 -I{} bash -c "cd \"{}\"; make"
  - find ./ -type f -printf "%P\n" | egrep "[А-Я]{4}\.[0-9]{6}\.[0-9]{3}\ ([0-9А-Я]+\ )?\([А-Яа-я ]+\)\.pdf" > .gitignore
  - git add .gitignore
  - git clean -f -d -q
  - git rm -f .gitignore
  tags:
  - docker
  artifacts:
    untracked: true
